# Python Notes
This is a self documented notes for python

## Some useful functions

In [2]:
## This is used for commenting texts
## input is used to get input from the users
input()

 hello

'hello'

In [5]:
## We can specify the msg that we want to show while taking input as parameter inside input method
input("Please enter your name\n")

Please enter your name
 Sam

'Sam'

In [28]:
## range is used to get range and can be used in multiple ways with severral data types and functions
range(5)

range(0, 5)

In [29]:
range(2,5)

range(2, 5)

In [25]:
##This tells us the type of any data types
type(2.5)

float

## Arithmatic Operators

In [2]:
a = 1 + 1
b = 1 - 1
c = 1 * 1
d = 5 / 2
e = 5 // 2
f = 5 ** 2

print(f)

25

## Assignment Operator

In [12]:
a = 7
b = a

## Comparison Operator

In [5]:
a = 5 == 5
b = 5 <= 4
c = 5 >= 4
d = 5 < 4
e = 5 > 4

print(a)

True

## Logic Operator

In [7]:
a = (5 <= 6) and (6 >= 8)
b = (5 <= 6) or (6 >= 8)

print(b)

True

## Conditionals

In [10]:
a = 2

if a <= 1 :
    print('less than one')
elif a > 1 and a <= 10:
    print('greater than one and less than ten')
else:
    print('greater than ten')

greater than one and less than ten

## Loops

* While-Loops

In [15]:
a = 1

while a <= 4:
    print(a)
    a = a + 1

1
2
3
4

* for-Loops

In [14]:
a = [5,6,8,9]

for x in b:
    print(x)

5
6
8
9

In [16]:
for x in range(5):
    print(x)

0
1
2
3
4

## Functions

In [35]:
def print_square(num):
    print(num ** 2)

print_square(5)

25

In [18]:
def return_square(num):
    return num ** 2

a = return_square(6)
print(a)

36

* Anonymous-Function

In [21]:
lambda var: print(5 ** 2)

## Data Types

In [30]:
## 1.Numbers
num1 = 4
num2 = 2.5

## 2.Strings
str1 = 'hello,world'
str2 = 'a'

## 3.Lists - It is mutable
list = [1,2,3,4,5]

## 4.Dictionaries - It is object in python
dict = {'key1':'item1','key2':'item2'}

## 5.Tuples - It is an immutable array
tup = (1,2,3,4)

## 6.Sets - It is array where repeated elements get removed
sets = {1,2,2,2,3,3,7,4,4,2}

print(sets)

{1, 2, 3, 4, 7}

In [31]:
list[0] = 8
list

[8, 2, 3, 4, 5]

In [32]:
tup[0] = 8
tup

TypeError: 'tuple' object does not support item assignment

In [8]:
dict['key1']

dict['key1']

In [12]:
## We can convert one data type into other as--
num = int(2.5)
print(num)

2

In [14]:
num = float(2)
print(num)

2.0

In [15]:
str = str(2)
str

'2'

## Strings

In [36]:
## Escape character helps to ignore some special symbol in strings
str = "hello\",world"
print(str)

hello",world

In [39]:
## Concatinating two strings
str = "hello " + "world"
print(str)

hello world

In [42]:
str = "hello" + "5"
print(str)

hello5

In [43]:
## We cannot concatinate a string and a number
str = 'hello' + 5
print(str)

TypeError: can only concatenate str (not "int") to str

In [44]:
## We can multiply a string with a number
str = "hello" * 5
print(str)

hellohellohellohellohello

In [16]:
## We cannot multiply a string with a string
str = 'hello' * 'hello'
print(str)

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
## fString helps us to easily concatinate string with other data types as--
## Just add f before starting a string
str = f'My roll no is {24}'
print(str)

My roll no is 24

In [26]:
## We can also insert variables in fstring as well
b = 24
str = f'My roll no is {b}'
print(str)

My roll no is 24

In [22]:
## We can also do the above work as--
str = 'My roll no is {}'.format(24)
print(str)

My roll no is 24

In [24]:
## We can also specify variables in format method
str = 'My roll no is {b}'.format(b = 24)
print(str)

My roll no is 24

In [11]:
## To change the string into uppercase
str = 'hello'
print(str.upper())

HELLO

In [10]:
## To change the string into lowercase
str = 'HELLO'
print(str.lower())

hello

In [46]:
## split function split strings and put it inside an array
## By default it spilt on white spaces in strings
str = 'hello world is #awesome'
str.split()

['hello', 'world', 'is', '#awesome']

In [47]:
## We can put parameter where we want it to split
str.split('#')

['hello world is ', 'awesome']

## Lists

In [53]:
## List also has -ve indexing
## -ve indexing starts from -1 at last position of a list

##         -5      -4      -3      -2       -1
list = ['apple','peach','mango','papaya','grapes']
##          0       1       2       3        4
print(list[-1])

grapes

In [57]:
## We can also create nested lists
list = [1,2,[4,5,[8,5],5],3,2]
print(list[2])
print(list[2][2])
print(list[2][2][1])

[4, 5, [8, 5], 5]
[8, 5]
5

In [5]:
## To get the total length of list use this--
list = [4,5,7,6]
len(list)

4

In [25]:
## To find the index of certain element
list = [4,5,7,6]
list.index(4)

0

In [29]:
## We can also check if an element is present in list or not using 'in' or 'not in' opeators
list = [1,2,3,4]

check1 = 4 in list
check2 = 4 not in list

print(check1)
print(check2)

True
False

In [22]:
## To get a piece or slice of list
list = [4,5,6,7,9,3]
newList = list[1:4]
print(newList)

[5, 6, 7]

In [24]:
## We can also slice a list using -ve index
newList = list[-3:-1]
print(newList)

[7, 9]

In [17]:
## We can add two list together using '+' 
## This method create a new list using the elements of two lists
list1 = [1,2,3,4]
list2 = [5,6,7,8]

list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
## We can also extend one list as
## This method does not create a new list but extend it
list1 = [1,2,3,4]
list2 = [5,6,7,8]

list1.extend(list2)
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8]

In [20]:
## We can aslo use '*' to multiply a list
list = [1,2,3]
newList = list * 3
print(newList)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
## To instantly create a list use this
list(range(5))

TypeError: 'list' object is not callable

In [8]:
## To insert something at any index
list = [1,2,3,4]
list.insert(0,100)
print(list)

[100, 1, 2, 3, 4]

In [57]:
## To append something in last position list 
list1 = [2,3,4,5]
list2 = []
for x in list1:
    list2.append(x ** 2)

list2

[4, 9, 16, 25]

In [9]:
## List Compression
## We can create a list instantly based on another list
## We can simplify above code as--
list = [x ** 2 for x in list1]
list

NameError: name 'list1' is not defined

In [11]:
## To remove any particular element from list
list = [1,2,3,4,1]
list.remove(1)
print(list)

[2, 3, 4, 1]

In [61]:
## To remove last element from a list
list = [1,2,3,4,5]
list.pop()
list

[1, 2, 3, 4]

In [30]:
## We can also specify position where we want to remove an element
list.pop(1)
list

[1, 3, 4]

In [52]:
## We can also check maximum or minimun element in list using--
score = [1,2,3,4,5,7]

minimum = min(score)
maxmum = max(score)
print(minimum)
print(maxmum)

ModuleNotFoundError: No module named 'functions'

## Dictonaries

In [15]:
## We have two ways for creating a dictonary
## 1. d =  {a,b,c,d}
## Another is like this --
people = dict(
    john = 42,
    sam = 36
)
print(people)

TypeError: 'dict' object is not callable

In [20]:
## To get any key's value we have two methods
## Method - 1
data = {'name':'sam','roll':5}
print(data['name'])

sam

In [21]:
## This method will give an error if we try to access something that is not present in the given dictonary
data['email']

KeyError: 'email'

In [24]:
## Thats the reason second method is better
## It returns none if key is not there
print(data.get('email'))

None

In [3]:
data = {'name' : 'sam','roll': 5}

## keys method will give all its keys  inside an array
data.keys()

dict_keys(['name', 'roll'])

In [2]:
## values method will give all its value inside an array
data.values()

dict_values(['sam', 5])

In [13]:
## items method give both keys and its values separately
data.items()

NameError: name 'data' is not defined

In [29]:
## To remove a key from dictonary
data = {'john':30,'sam':40,'mia':20}
data.pop('sam')
print(data)

{'john': 30, 'mia': 20}

In [31]:
## To update a given dictonary
price = {'ipad':400,'mac':500}
new_price = {'ipad':'500','iphone':600}

price.update(new_price)
print(price)
print(new_price)
## If some key is present then it will update its value otherwise it will add it

{'ipad': '500', 'mac': 500, 'iphone': 600}
{'ipad': '500', 'iphone': 600}

## Sets

In [34]:
## Sets in python is same as in mathematics , We can create sets as

set1 = {5,3,3,1,2,6,2}
print(set1)
## As we can see it eliminates extra repeating value
## Sets is always unordered so we cant expect it to arrange elements,

{1, 2, 3, 5, 6}

In [42]:
## We can also use strings inside sets
## Here we can see, it didnt arrange the elements as sets are unordered list

name = {'Rob','John','Alpha','ken'}
print(name)

{'ken', 'John', 'Rob', 'Alpha'}

In [35]:
## We can also create using an array using set method
new_set = set([5,5,3,8,2,1])
print(new_set)

{1, 2, 3, 5, 8}

In [45]:
## We cannot create an empty set like this--

empty_set = {}
print(type(empty_set))

## Here we can see it says, its a dict type not a set

<class 'dict'>

In [48]:
## Instead, we use this to create an empty set

empty_set = set()
print(empty_set)
print(type(empty_set))
print(len(empty_set))

## Now it says its a set type and it has 0 elements

set()
<class 'set'>
0

In [50]:
## Like in meths, We have union and intersection in sets
set1 = {1,2,4,5}
set2 = {4,5,7,8}

## For union of sets, We use '|' 
new_set = set1 | set2
print(new_set)

{1, 2, 4, 5, 7, 8}

In [51]:
## For intersection of sets, We use '&' 
new_set = set1 & set2
print(new_set)

{4, 5}

In [54]:
## We can use '-' to subtract one set from another
set1 = {1,2,4,5}
set2 = {4,5,7,8}

new_set = set1 - set2
print(new_set)

{1, 2}

In [55]:
## We also have something opposite of intersection
## It print both sets element except the ones which are present in both
new_set = set1 ^ set2
print(new_set)

{1, 2, 7, 8}

In [60]:
## WE can remove a specific element from set as
set1 = {1,2,3,4}
set1.remove(2)
print(set1)

{1, 3, 4}

In [58]:
## We can also add somthing in list using add method
set1.add(5)
print(set1)

{1, 3, 4, 5}

In [61]:
## We can remove a rondom element from set using pop
set2 = {5,2,8,9}
set2.pop()
print(set2)

{9, 2, 5}