# My First Project
This is just for practice

## Some useful functions

In [28]:
range(5)

range(0, 5)

In [29]:
range(2,5)

range(2, 5)

In [25]:
type(2.5)

float

## Arithmatic Operators

In [2]:
a = 1 + 1
b = 1 - 1
c = 1 * 1
d = 5 / 2
e = 5 // 2
f = 5 ** 2

print(f)

25

## Assignment Operator

In [3]:
a = 7
b = a

## Comparison Operator

In [5]:
a = 5 == 5
b = 5 <= 4
c = 5 >= 4
d = 5 < 4
e = 5 > 4

print(a)

True

## Logic Operator

In [7]:
a = (5 <= 6) and (6 >= 8)
b = (5 <= 6) or (6 >= 8)

print(b)

True

## Conditionals

In [10]:
a = 2

if a <= 1 :
    print('less than one')
elif a > 1 and a <= 10:
    print('greater than one and less than ten')
else:
    print('greater than ten')

greater than one and less than ten

## Loops

* While-Loops

In [15]:
a = 1

while a <= 4:
    print(a)
    a = a + 1

1
2
3
4

* for-Loops

In [14]:
a = [5,6,8,9]

for x in b:
    print(x)

5
6
8
9

In [16]:
for x in range(5):
    print(x)

0
1
2
3
4

## Functions

In [35]:
def print_square(num):
    print(num ** 2)

print_square(5)

25

In [18]:
def return_square(num):
    return num ** 2

a = return_square(6)
print(a)

36

* Anonymous-Function

In [21]:
lambda var: print(5 ** 2)

## Data Types

In [30]:
## 1.Numbers
num1 = 4
num2 = 2.5

## 2.Strings
str1 = 'hello,world'
str2 = 'a'

## 3.Lists - It is mutable
list = [1,2,3,4,5]

## 4.Dictionaries - It is object in python
dict = {'key1':'item1','key2':'item2'}

## 5.Tuples - It is an immutable array
tup = (1,2,3,4)

## 6.Sets - It is array where repeated elements get removed
sets = {1,2,2,2,3,3,7,4,4,2}

print(sets)

{1, 2, 3, 4, 7}

In [31]:
list[0] = 8
list

[8, 2, 3, 4, 5]

In [32]:
tup[0] = 8
tup

TypeError: 'tuple' object does not support item assignment

In [34]:
dict['key1']

'item1'

## Strings

In [36]:
## Escape character helps to ignore some special symbol in strings
str = "hello\",world"
print(str)

hello",world

In [39]:
## Concatinating two strings
str = "hello " + "world"
print(str)

hello world

In [42]:
str = "hello" + "5"
print(str)

hello5

In [43]:
## We cannot concatinate a string and a number
str = 'hello' + 5
print(str)

TypeError: can only concatenate str (not "int") to str

In [44]:
## We can multiply a string with a number
str = "hello" * 5
print(str)

hellohellohellohellohello

In [45]:
## We cannot multiply a string with a string
str = 'hello' * 'hello'
print(str)

TypeError: can't multiply sequence by non-int of type 'str'

In [46]:
## split function split strings and put it inside an array
## By default it spilt on white spaces in strings
str = 'hello world is #awesome'
str.split()

['hello', 'world', 'is', '#awesome']

In [47]:
## We can put parameter where we want it to split
str.split('#')

['hello world is ', 'awesome']

## Lists

In [55]:
## To instantly create a list use this
list(range(5))

TypeError: 'list' object is not callable

In [57]:
## To append something in last position list 
list1 = [2,3,4,5]
list2 = []
for x in list1:
    list2.append(x ** 2)

list2

[4, 9, 16, 25]

In [59]:
## List Compression
## We can create a list instantly based on another list
## We can simplify above code as--
list = [x ** 2 for x in list1]
list

[4, 9, 16, 25]

In [61]:
## To remove last element from a list
list = [1,2,3,4,5]
list.pop()
list

[1, 2, 3, 4]

In [62]:
## We can also specify position where we want to remove an element
list.pop(1)
list

[1, 3, 4]